<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
    <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  
    {% for post in posts %}
    <li>
        <p><a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a></p>
        <p><a href="{{ url_for('stock_history_graph') }}">Stock History Graph</a></p>
        <p>{{ post.body }}</p>
        <p>By {{ post.author }}</p>
    </li>
     {% endfor %}
  </body>
</html>

  

