<!doctype html>
<html>
  <head>
    <title>Flaskr</title>
  </head>
  <body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>