<!DOCTYPE html>
<html>
<head>
    <title>Stock Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="search">
      <h1>Stock Information</h1>
        <form id="stock_form">
            <label for="stock_symbol">Stock Symbol:</label>
            <input type="text" id="stock_symbol" name="stock_symbol">
            <button id="stock_btn" type="submit">Get Stock Information</button>
        </form>
    </div>
    <div id="stock_info"></div>
    <canvas id="stock_chart" style="margin-left: 10%; margin-right: 10%; "></canvas>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>