* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}
  

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
  
h1 {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    margin: 0;
    text-align: center;
}
  
form {
    display: flex;
    margin-top: 20px;
}
  
label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    display: block;
    margin-bottom: 0.5rem;
}
  
input[type="text"] {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
  
button {
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #3E8E41;
}
  
#stock-info {
    margin: 1rem;
}
  
#stock-info h2 {
    margin: 0;
}

#stock-info p {
    margin: 0;
}
  
.chart {
    margin: 1rem;
}
  

  

  
  