<!doctype html>
<html>
  <head>
    <title>Flaskr</title>
  </head>
  <body>
    <h1>Flaskr</h1>
    {% for post in posts %}
    <li>
        <p><a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a></p>
        <p><a href="{{ url_for('stock_history_graph') }}">Stock History Graph</a></p>
        <p>{{ post.body }}</p>
        <p>By {{ post.author }}</p>
    </li>
     {% endfor %}
  </body>
</html>