</html>
<!doctype html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Duke Blue Pay System</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-
alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="/static/mystyle.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
 </head>
 <body>
 <h1 align="center">Duke Blue Pay</h1>
 <h3 align="center">Kunpeng Zhu</h3>
<body>
    
    <div class="stock">
        <label for="stock-select">Choose a stock:</label>
        <select name="stocks" id="stock-select">
            <option value="">--Please choose an option--</option>
            <option value="AAPL">Apple</option>
            <option value="GME">GameStop</option>
            <option value="TSLA">Tesla</option>
            <option value="SPY">S & P 500</option>
        </select>
    </div>
<div id='myDiv'></div>
    <br><br>
    <button id="submit-button">Submit</button>
    <br><br><br><br><br>
    <br><br><br><br><br>

<div class="Bottom">
        <h5>Duke University</h5>
        <h5>2080 Duke University Road, Durham, NC 27708</h5>
        <h5>(919) 684-8111</h5>
        <ul id="ul1">
            <li><a href = "">Privacy Policy</ a> </li>
            <li><a href = "">Terms of Service</ a> </li>
            <li><a href = "">Contact Us</ a> </li>
        </ul>

    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-
alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
 </body>
</html>