<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stock Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center mb-5">Stock Tracker</h1>

    <div class="row mb-5">
      <div class="col-md-6 mx-auto">
        <form method="POST" action="/stock" class="bg-light p-4 rounded">
          <div class="mb-3">
            <label for="symbol" class="form-label">Symbol</label>
            <input type="text" class="form-control" id="symbol" name="symbol" required>
          </div>
          <div class="mb-3">
            <label for="tracking_price" class="form-label">Tracking Price</label>
            <input type="number" class="form-control" id="tracking_price" name="tracking_price" step="0.01" required>
          </div>
          <div class="mb-3">
            <label for="num_shares" class="form-label">Number of Shares</label>
            <input type="number" class="form-control" id="num_shares" name="num_shares" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 mx-auto">
        <table id="example" class="table table-striped">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Tracking Price</th>
              <th>Number of Shares</th>
              <th>Current Price</th>
              <th>Percentage Change</th>
              <th>Date Added</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <td>{{ stock['symbol'] }}</td>
              <td>{{ stock['tracking_price'] }}</td>
              <td>{{ stock['num_shares'] }}</td>
              <td>{{ stock['current_price'] }}</td>
              <td>{{ '{:.2f}%'.format(stock['percentage_change']) }}</td>
              <td>{{ stock['date_added'] }}</td>
              <td>
                <form method="POST" action="/remove_stock">
                  <input type="hidden" name="stock_id" value="{{ stock['id'] }}">
                  <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
	  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
	  <script>
		$(document).ready(function () {
    $('#example').DataTable();
      });
	  </script>				
   </body>
</html>
